@import './app.scss';

.desktop-menu {
  align-items: center;
  list-style: none;
  a {
    color: white;
    margin-right: 20px;
    font-size: 16px;
  }

  a:last-child {
    margin-right: 0;
  }
}

