@import './app.scss';

%menu-flex-row {
  display: flex;
}

%menu-flex-column {
  display: flex;
  flex-direction: column;
}

$menu-primary-color: #2c385e;

.menu {
  @extend %menu-flex-column;
  background: white;
  position: absolute;
  visibility: hidden;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 100;
}

.menu-option {
  list-style: none;
  font-size: 22px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $menu-primary-color;
  }

  a:visited {
    color: $menu-primary-color;
  }

  &__item {
    margin-bottom: 20px;
    padding: 20px;
  }
}

.menu-header {
  @extend %menu-flex-row;
  justify-content: space-between;
  padding: 15px 15px;

  &__exit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
  }
}

.user {
  @extend %menu-flex-row;
  align-items: center;
  width: 85%;

  &__name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $menu-primary-color;
  }

  &__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 750px) {
  .menu {
    height: 100vh;
    width: 50%;
  }
}

@include large-display {
  .menu-header {
    padding: 15px 20px;
  }
}
