@import './app.scss';

%my-watch-list-flex-row {
  display: flex;
}

%my-watch-list-flex-column {
  display: flex;
  flex-direction: column;
}

%my-watch-list-flex-center {
  justify-content: center;
  align-items: center;
}

.my-watch-list-container {
  @extend %my-watch-list-flex-column;
  width: 100%;
  color: white;
  flex: 1;
  background: #2c385e;
}

.my-watch-list {
  max-width: $max-content-width;
  width: 90%;
  align-self: center;
}

.my-watch-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: auto;

  &__title {
    font-size: 24px;
  }
}

.my-watch-list-sort {
  border-radius: 15px;
  padding: 0px;
  background: white;
  color: #336e6b;
  font-weight: 700;
  font-size: 13px;
}

@include medium-display {
  .my-watch-list-header {
    &__title {
      font-size: 30px;
    }
  }
}
