@import './app.scss';

%my-watch-list-flex-row {
  display: flex;
}

%my-watch-list-flex-column {
  display: flex;
  flex-direction: column;
}

%my-watch-list-flex-center {
  justify-content: center;
  align-items: center;
}

.my-watch-list-container {
  @extend %my-watch-list-flex-column;
  width: 100%;
  color: white;
  flex: 1;
  background: #2c385e;
}

.my-watch-list {
  @extend %my-watch-list-flex-column;
  max-width: $max-content-width;
  width: 90%;
  align-self: center;
  flex: 1;
  margin-top: 50px;
}

.watch-list-videos {
  flex: 1;
}

.watch-list-default {
  @extend %my-watch-list-flex-column;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__icon {
    width: 95px;
    margin-bottom: 40px;
  }

  &__text {
    text-align: center;
  }
}

.my-watch-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    font-size: 24px;
  }
}

.my-watch-list-sort {
  flex: 0 1 100px;
  height: 29px;
  padding-left: 8px;
  border-radius: 15px;
  background: white;
  color: #336e6b;
  font-weight: 700;
  font-size: 13px;
  appearance: none;
  border: 0px;
  margin: 0px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU1IiBoZWlnaHQ9IjEyOSIgdmlld0JveD0iMCAwIDI1NSAxMjkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDAuNzVMMTI3LjUgMTI4LjI1TDI1NSAwLjc1SDBaIiBmaWxsPSIjMzM2RTZCIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;

  &__option {
    font-weight: 700;
  }
}

@include medium-display {
  .my-watch-list-header {
    &__title {
      font-size: 30px;
    }
  }

  .watch-list-default {
    &__icon {
      width: 120px;
      margin-bottom: 50px;
    }
  }
}
