%page-selector-flex-row {
  display: flex;
}

%page-selector-flex-column {
  display: flex;
  flex-direction: column;
}

%page-selector-flex-center {
  justify-content: center;
  align-items: center;
}

.page-selector {
  @extend %page-selector-flex-row, %page-selector-flex-center;
  align-self: center;
  position: relative;
  font-size: 20px;
  margin-bottom: 40px;

  &__current-page {
    padding: 0px 30px;
    text-decoration: underline;
  }

  &__dropdown-arrow {
    position: absolute;
    top: 10px;
    right: 55px;
  }
}

.page-dropdown-menu-wrapper {
  position: absolute;
  bottom: 120%;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translatex(-50%);
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.page-dropdown-menu {
  background: white;
  list-style: none;
  width: 200px;
  padding: 10px;
  bottom: 100%;
  max-height: 360px;
  overflow-y: auto;
  border: 2px solid #2c385e;

  &__item {
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2c385e;
   height:50px;
   line-height:50px;
  }

  &__item a {
    text-decoration: none;
    color: #2c385e;
  }

  &__item a:visited {
    color: #2c385e;
  }

  &__page {
    margin-right: 5px;
  }
}
