@import "./app.scss";

.video-section {
  margin-bottom: 40px;
  &__name {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.popular-video-wrapper {
  display: block;
  padding: 0px 5px;
}

.popular-videos-container {
  padding: 0px 35px;
}

.slick-prev,
.slick-next {
  width: auto !important;
  height: auto !important;
  z-index: 100;
}

.slick-list {
  overflow: visible !important;
}

.slick-arrow {
  visibility: hidden;
}

.slick-slider:hover .slick-arrow {
  visibility: visible;
}

.popular-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150%;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 20px;
  background-color: $plc-holder;
  &__poster {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s, opacity 0.8s;
    border-radius: 20px;
  }

  &__title {
    display: block;
    width: 100%;
    background-color: $primary;
    color: white;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.popular-video:hover .popular-video__poster {
  transform: scale(1.05);
}

@include medium-display {
  .slick-prev:before,
  .slick-next:before {
    font-size: 35px !important;
  }

  .popular-video-wrapper {
    padding: 0px 8px;
  }

  .popular-video {
    &__title {
      font-size: 14px;
    }
  }
}

@include tablet-display {
  .video-section {
    &__name {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 50px !important;
  }

  .popular-video {
    &__title {
      font-size: 16px;
    }
  }
}

@include large-display {
  .slick-list {
    overflow: hidden !important;
  }

  .video-section {
    &__name {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 70px !important;
  }

  .popular-video-wrapper {
    padding: 0px 12px;
  }

  .video-section {
    margin-bottom: 80px;
    &__title {
      font-size: 30px;
    }
  }

  .popular-video {
    &__title {
      font-size: 18px;
    }
  }
}
