@import "./app.scss";

.video-section {
  margin-bottom: 40px;
  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.swiper-container {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 30px;
}

.swiper-slide {
  list-style: none;

  a {
    color: white;
  }
}

.popular-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__poster {
    transition: transform 0.3s;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.popular-video:hover .popular-video__poster {
  transform: scale(1.05);
}

@include medium-display {
  .popular-video {
    &__title {
      font-size: 14px;
    }
  }
}

@include tablet-display {
  .popular-video {
    &__title {
      font-size: 16px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 35px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 35px;
  }

  .video-section {
    &__title {
      margin-bottom: 35px;
      font-size: 24px;
    }
  }
}

@include large-display {
  .video-section {
    margin-bottom: 80px;
    &__title {
      font-size: 30px;
    }
  }

  .popular-video {
    &__title {
      font-size: 18px;
    }
  }
}
