%register-flex-row {
  display: flex;
}

%register-flex-column {
  display: flex;
  flex-direction: column;
}

%register-flex-center {
  justify-content: center;
  align-items: center;
}

%register-form-input {
  padding-left: 10px;
  margin-bottom: 60px;
  height: 40px;
  color: #2c385e;
  font-size: 16px;
  border: none;
}

%register-bold-font {
  font-weight: 700;
}

%register-normal-font {
  font-weight: 400;
}

.register {
  @extend %register-flex-column, %register-flex-center;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(
      180deg,
      rgba(44, 56, 94, 0.95) 0%,
      rgba(51, 110, 107, 0.9) 100%
    ),
    url('../img/tv-background-1920w.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.register-header {
  @extend %register-flex-column, %register-flex-center;
  margin-bottom: 80px;

  &__logo {
    margin-bottom: 40px;
  }

  &__title {
    @extend %register-normal-font;
  }
}

.register-form {
  @extend %register-flex-column;
  margin-bottom: 50px;
  width: 100%;

  &__username {
    @extend %register-form-input;
  }

  &__password {
    @extend %register-form-input;
  }

  &__confirm-password {
    @extend %register-form-input;
  }

  &__submit {
    @extend %register-bold-font;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 55px;
    color: white;
    background-color: #2c385e;
    font-size: 18px;
  }
}

.register-links {
  @extend %register-flex-row;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
  a {
    text-decoration: none;
    @extend %register-bold-font;
    color: white;
  }

  a:visited {
    color: white;
  }
}

.register-signin {
  @extend %register-flex-column;

  &__link {
    align-self: center;
  }
  &__message {
    @extend %register-normal-font;
  }
}
