$medium-width: 450px;
$large-width: 880px;

@mixin medium-display {
  @media (min-width: $medium-width) {
    @content;
  }
}

@mixin large-display {
  @media (min-width: $large-width) {
    @content;
  }
}

%register-flex-row {
  display: flex;
}

%register-flex-column {
  display: flex;
  flex-direction: column;
}

%register-flex-center {
  justify-content: center;
  align-items: center;
}

%register-form-input {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 40px;
  color: #2c385e;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

%register-bold-font {
  font-weight: 700;
}

%register-normal-font {
  font-weight: 400;
}

.register-container {
  @extend %register-flex-column;
  flex: 1;
  width: 100%;
}

.register-layout {
  @extend %register-flex-column;
  justify-content: center;
  flex: 1;
}

.register {
  @extend %register-flex-column, %register-flex-center;
  width: 100%;
  flex: 1;
  padding: 40px;
  background: #2c385e;
  color: white;
}

.register-header {
  @extend %register-flex-column, %register-flex-center;
  margin-bottom: 45px;

  &__logo {
    margin-bottom: 15px;
  }

  &__title {
    @extend %register-normal-font;
  }
}

.register-form {
  @extend %register-flex-column;
  margin-bottom: 50px;
  width: 100%;

  &__username {
    @extend %register-form-input;
  }

  &__password {
    @extend %register-form-input;
  }

  &__confirm-password {
    @extend %register-form-input;
    margin-bottom: 10px;
  }

  &__submit {
    @extend %register-bold-font;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 55px;
    color: white;
    background-color: #336e6b;
    font-size: 18px;
    margin-top: 15px;
  }

  &__submit:disabled {
    opacity: 0.6;
  }

  &__submit[disabled]:hover {
    cursor: not-allowed;
  }
}

.register-form-label {
  margin-bottom: 10px;

  &__text {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.register-links {
  @extend %register-flex-row;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  a {
    text-decoration: none;
    @extend %register-bold-font;
    color: white;
  }

  a:visited {
    color: white;
  }
}

.register-signin {
  @extend %register-flex-column;

  &__link {
    align-self: center;
  }
  &__message {
    @extend %register-normal-font;
  }
}

@include medium-display {
  .register-container {
    justify-content: center;
    align-items: center;
  }

  .register {
    flex: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@include large-display {
  .register-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 auto;
    max-width: 950px;
    min-height: 695px;
    max-height: 840px;
    height: 90vh;
    width: 90%;

    .image-gallery {
      display: grid;
    }
  }

  .register {
    flex: 1 1 50%;
  }

  .register-form {
    margin-bottom: 20px;

    &__submit {
      margin-bottom: 0px;
    }
  }

  .register-form-label {
    margin-bottom: 0px;
  }

  .register-header {
    margin-bottom: 10px;

    &__logo {
      width: 70px;
    }
  }
}
