@import './app.scss';

%sign-in-flex-row {
  display: flex;
}

%sign-in-flex-column {
  display: flex;
  flex-direction: column;
}

%sign-in-flex-center {
  justify-content: center;
  align-items: center;
}

%sign-in-form-input {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 40px;
  color: #2c385e;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

%sign-in-bold-font {
  font-weight: 700;
}

%sign-in-normal-font {
  font-weight: 400;
}

.sign-in-container {
  @extend %sign-in-flex-column;
  flex: 1;
  width: 100%;
}

.sign-in-layout {
  @extend %sign-in-flex-column;
  justify-content: center;
  flex: 1;
}

.sign-in {
  @extend %sign-in-flex-column, %sign-in-flex-center;
  width: 100%;
  flex: 1;
  padding: 40px;
  background: #2c385e;
  color: white;
}

.sign-in-header {
  @extend %sign-in-flex-column, %sign-in-flex-center;
  margin-bottom: 45px;

  &__logo {
    margin-bottom: 15px;
  }

  &__title {
    @extend %sign-in-normal-font;
  }
}

.sign-in-form {
  @extend %sign-in-flex-column;
  margin-bottom: 50px;
  width: 100%;

  &__username {
    @extend %sign-in-form-input;
  }
  &__password {
    @extend %sign-in-form-input;
  }

  &__submit {
    @extend %sign-in-bold-font;
    margin-top: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 55px;
    color: white;
    background-color: #336e6b;
    font-size: 18px;
  }

  &__submit:disabled {
    opacity: 0.6;
  }
}

.sign-in-form-label {
  margin-bottom: 10px;

  &__text {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.sign-in-links {
  @extend %sign-in-flex-row;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  a {
    text-decoration: none;
    color: white;
    @extend %sign-in-bold-font;
  }

  a:visited {
    color: white;
  }
}

.sign-in-signup {
  @extend %sign-in-flex-column;
  &__link {
    align-self: center;
  }
  &__message {
    @extend %sign-in-normal-font;
  }
}

@include medium-display {
  .sign-in-container {
    justify-content: center;
    align-items: center;
  }

  .sign-in {
    flex: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@include large-display {
  .sign-in-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 auto;
    max-width: 950px;
    min-height: 695px;
    max-height: 840px;
    height: 90vh;
    width: 90%;

    .image-gallery {
      display: grid;
    }
  }

  .sign-in {
    flex: 1 1 50%;
  }
}
