%video-profile-flex-row {
  display: flex;
}

%video-profile-flex-column {
  display: flex;
  flex-direction: column;
}

.video-profile-container {
  @extend %video-profile-flex-column;
  flex-grow: 1;
  color: white;
}

.video-profile {
  align-self: center;
  width: 90%;
  &__watch-list-btn {
    background-image: url('../img/add-to-watchlist.svg');
    background-size: 25px;
    background-position: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: right;
    font-weight: 700;
    color: white;
    border: none;
    width: 140px;
    margin-bottom: 30px;
  }
}

.video-details {
  @extend %video-profile-flex-row;
  margin-bottom: 20px;

  &__poster {
    width: 140px;
    height: 208px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.video-details-general {
  @extend %video-profile-flex-column;
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.video-details-rt {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tomatometer {
  @extend %video-profile-flex-row;
  align-items: center;
  margin-top: 10px;

  &__icon {
    width: 20px;
    margin-right: 5px;
  }
}

.video-plot {
  margin-bottom: 50px;
  &__heading {
    margin-bottom: 20px;
  }
}

.video-credits {
  &__heading {
    margin-bottom: 25px;
  }
}

.video-actors {
  margin-bottom: 30px;
  &__heading {
    margin-bottom: 10px;
  }
}

.video-director {
  margin-bottom: 50px;
  &__heading {
    margin-bottom: 10px;
  }
}

.user-reviews {
  margin-bottom: 70px;

  &__heading {
    margin-bottom: 5px;
  }
}

.user-reviews-total {
  @extend %video-profile-flex-row;

  &__heading {
    margin-right: 5px;
  }

  &__num {
    font-weight: 700;
  }
}

.video-review-score-container {
  @extend %video-profile-flex-column;
  align-items: center;
  margin-right:10px;
}

.video-review {
  @extend %video-profile-flex-row;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 20px;

  &__score {
    font-size: 52px;
    font-weight: bold;
  }
  &__star {
    width: 40px;
  }

  &__btn {
    font-size: 16px;
    padding: 8px 15px;
    color: white;
    background: #336e6b;
    border: none;
    margin-left: auto;
  }
}
