%home-flex-row {
  display: flex;
}

%home-flex-column {
  display: flex;
  flex-direction: column;
}

%home-flex-center {
  justify-content: center;
  align-items: center;
}

.home {
  @extend %home-flex-column;
  min-height: 100vh;
  background: #2c385e;
  overflow:hidden;
}

.search {
  @extend %home-flex-row;
  width: 100%;
  padding: 15px;
  height: 75px;

  &__input {
    flex: 1 1 85%;
    padding-left: 10px;
    font-size: 18px;
    border:none;
  }
  &__btn {
    flex: 1 1 15%;
    background:#FFFFFF;
    border: none;
  }
}
