%media-list-flex-row {
  display: flex;
}

%media-list-flex-column {
  display: flex;
  flex-direction: column;
}

%media-list-flex-center {
  justify-content: center;
  align-items: center;
}

@mixin grid-column($numberOfColumns) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: (100% / $numberOfColumns);
}

.media-list {
  @extend %media-list-flex-row;
  width: 100%;
  flex-wrap: wrap;

  .media {
    @include grid-column(2);
    padding:6px;
 
  }
}
