%media-profile-flex-row {
  display: flex;
}

.media-profile {
  width: 90%;
  flex-grow: 1;
  color: white;

  &__watch-list-btn {
   
    background-image: url('../img/watch-list-icon.svg');
    background-size: 25px;
    background-position: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align:right;
    font-weight: 700;
    color: white;
    border: none;
    width: 140px;
    margin-bottom: 30px;
  }
}

.media-details {
  @extend %media-profile-flex-row;
  margin-bottom: 20px;

  &__poster {
    width: 100px;
    height: 158px;
    margin-right: 20px;
  }
}

.media-details-general {
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    word-break: break-word;
  }
}

.media-details-rt {
  @extend %media-profile-flex-row;
  align-items: center;
  margin-top: 20px;

  &__icon {
    margin-right: 10px;
  }
}

.media-plot,
.media-credits {
  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.media-plot {
  margin-bottom: 50px;
}

.media-actors {
  margin-bottom: 50px;
}

.user-reviews {
  margin-bottom: 70px;

  &__heading {
    margin-bottom: 5px;
  }
}

.user-reviews-total {
  @extend %media-profile-flex-row;
  padding-left: 20px;

  &__heading {
    margin-right: 5px;
  }

  &__num {
    font-weight: 700;
  }
}

.media-review {
  @extend %media-profile-flex-row;
  align-items: center;
  padding-left: 30px;
  padding-right: 15px;
  margin-bottom: 10px;

  &__score {
    font-size: 52px;
    font-weight: bold;
    margin-right: 10px;
  }
  &__star {
    width: 30px;
    margin-right: auto;
  }

  &__btn {
    font-size: 16px;
    padding: 8px 15px;
    color: white;
    background: #336e6b;
    border: none;
  }
}
