%menu-flex-row {
  display: flex;
}

%menu-flex-column {
  display: flex;
  flex-direction: column;
}

%menu-flex-center {
  justify-content: center;
  align-items: center;
}

.menu {
  @extend %menu-flex-column;
  background: white;
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
}

.menu-option {
  padding-left: 30px;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: #2c385e;
  }

  a:visited {
    color: #2c385e;
  }

  &__item {
    margin-bottom: 40px;
  }
}

.menu-header {
  @extend %menu-flex-row;
  justify-content: space-between;
  padding: 15px 15px;
  margin-bottom: 25px;

  &__exit-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding-right: 15px;
  }
}

.user {
  @extend %menu-flex-row;
  align-items: center;

  &__name {
    font-weight: 700;
    font-size: 18px;
  }

  &__icon {
    margin-right: 10px;
  }
}
