%menu-flex-row {
  display: flex;
}

%menu-flex-column {
  display: flex;
  flex-direction: column;
}

$menu-primary-color: #2c385e;

.menu {
  @extend %menu-flex-column;
  background: white;
  position: absolute;
  transform: translatex(100%) scale(0);
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.menu-option {
  padding-left: 30px;
  list-style: none;
  font-size: 22px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $menu-primary-color;
  }

  a:visited {
    color: $menu-primary-color;
  }

  &__item {
    margin-bottom: 60px;
  }
}

.menu-header {
  @extend %menu-flex-row;
  justify-content: space-between;
  padding: 15px 15px;
  margin-bottom: 30px;

  &__exit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    margin-right: 10px;
  }
}

.user {
  @extend %menu-flex-row;
  align-items: center;

  &__name {
    font-weight: 700;
    font-size: 18px;
    color: $menu-primary-color;
  }

  &__icon {
    margin-right: 10px;
  }
}
