%user-reviews-flex-row {
  display: flex;
}

%user-reviews-flex-column {
  display: flex;
  flex-direction: column;
}

%user-reviews-flex-center {
  justify-content: center;
  align-items: center;
}

